/* Arquivo Index */
h1 {
    color: rgb(56, 54, 54);
    text-align: center;
    font-size: x-large;
    font-family:  'Lucida Grande';
    }
h2  { text-align: center;
    color: rgb(71, 70, 67);
}
body {
    background-color: rgb(150, 148, 147);
}
p {
    color: rgb(86, 86, 99);
    text-align-last: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
height: 400px;
display: block;
margin-left: auto;
margin-right: auto 
}